{% extends 'store/main.html' %}
{% load static %}
{% block title %}
        Cambiar contraseña
{% endblock title %}

{% block content %}
<body class = "loginbody" style = "background-image:url('{% static 'images/purple.jpg' %}')">
    

    

<div class = 'loginform'>
    <form method= 'POST'>
        {% csrf_token %}
        {{form.as_table}}
        <button> Cambiar contrasenia</button>
</div>

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
</body>
{% endblock content %}
    