{% extends 'store/main.html' %}
{% load static %}
{% block title %}
        Perfil
     {% endblock title %}
{% block content %}

<body class = "loginbody" style = "background-image:url('{% static 'images/purple.jpg' %}')">
    

    

    <form class = "loginform" method = 'POST'> {% csrf_token %}
        {{form.as_p}}
        <button class = 'btn btn-secondary'>Update Profile</button>
    </form>
     
    
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
    </body>





    
{% endblock content %}
    