{% extends 'store/main.html' %}
{% load static %}
{% block title %}
        Cerrar Sesion
{% endblock title %}
{% block content %}
<body class = "loginbody" style = "background-image:url('{% static 'images/purple.jpg' %}')">
<div class = "logout">
<h1>Su sesion se ha cerrado exitosamente</h1>
<p>Gracias por visitarnos, vuelva pronto</p>
<br>


<a class = "logoutbtn"href = "{% url 'home' %}">Volver al Inicio</a>
</div>

</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 
 


    
{% endblock content %}