{% extends 'store/main.html' %}
{% load static %}
{% block title %}
           Sobre Nosotros 
{% endblock title %}
{% block content %}
<body class = "aboutus" style = "background-image: url('{% static 'images/programando.jpg' %}');background-repeat: no-repeat center center fixed; ">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style = "font-size: 40px">FeetStock</h1>

    


    
        
        <div class="cardab">
          <img src="{% static 'images/avatar.png' %}" alt="Avatar" style="width:100%">
          <div class="containerab">
            <h4><b>Mateo Doherty</b></h4> 
            <p>Programador de python</p> 
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    <div class = "cardab2">
    <div class = "containerab2">    
<p>Mi nombre es Mateo Doherty, soy un estudiante escolar de 16 anios que comenzo hace relativamente poco en el mundo de la programacion.
    Tengo conocimientos basicos/intermedios en cuanto a python y su funcionamiento con el framework de Django.
    Mediante la utilizacion de este mismo logre crear esta pagina funcional tipo e-commerce de una tienda de venta
    de calzado.
</p>
    </div>
    </div> 


</body>


{% endblock content %}