{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<body class = "loginbody" style = "background-image:url('{% static 'images/purple.jpg' %}')">
<div class = "logout">
<h1> {{user.username}} su compra se ha completado con exito</h1>
<p>Gracias por elegirnos, vuelva pronto!</p>
<br>


<a class = "logoutbtn"href = "{% url 'home' %}">Volver al Inicio</a>
</div>

</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 
 


    
{% endblock content %}